{
  "user": "{{getv "/env/admin_user"}}",
  "user_id": "{{getv "/env/admin_user_id"}}",
  "password": "{{getv "/env/admin_password"}}",
  "group_id": "{{getv "/env/admin_group_id"}}",
  "nas_path": "{{getv "/env/nas_path"}}"
}