{
  "admin_user": {{getenv "admin.user"}},
  "admin_user_id": {{getenv "admin.user_id"}},
  "password": {{getenv "admin.password"}},
  "group_id": {{getenv "admin.group_id"}},
  "nas_path": {{getenv "nas_path"}}
}